<div *ngIf="dailyForecastData">
  <ion-grid>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>
          <h1>{{ displayDate() | date }}</h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <ion-row>
          <ion-col>
            <img src="{{ IconSource() }}" />
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col class="ion-align-items-center">
                <ion-title>
                  {{ dailyForecastData.weather[0].main }}
                </ion-title>
                <h1>{{ displayTemprature() }}</h1>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Humidity </ion-col>
          <ion-col>Wind_Speed</ion-col>
          <ion-col>Pressure</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1>{{ dailyForecastData.humidity }}</h1>
          </ion-col>
          <ion-col>
            <h1>{{ dailyForecastData.wind_speed }}</h1>
          </ion-col>
          <ion-col>
            <h1>
              {{ dailyForecastData.pressure }}
            </h1>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</div>
