<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="current-weather">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div *ngFor="let data of dailyData">
      <div *ngIf="data">
        <ion-col sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
          <app-datacard [dailyForecastData]="data"></app-datacard>
        </ion-col>
      </div>
    </div>
  </ion-row>
</ion-content>
